../.idea/workspace.xml
        ../1.css
        ../1.html
        ../applications.html
        ../bitnami.css
        ../dashboard/
        ../example.html
        ../favicon.ico
        ../img/
        ../index.php
        ../info.php
        .gitignore
        ../photo.php
        ../test1/
        ../test2/
        ../xampp/
